<footer class="container">
  <div class="group">
    <a class="link" routerLink="/puzzles">Головоломки</a>
    <a class="link" routerLink="/quiz">Викторина</a>
  </div>
  <div class="group">
    <a class="link" routerLink="/games/mathematico">Математико</a>
    <a class="link" routerLink="/games/tiles">Плитки</a>
  </div>
  <div class="group">
    <a class="link" routerLink="/about">О проекте</a>
  </div>
</footer>
<div class="created">
  <div class="container">
    <a href="https://vk.com/id206985233" class="created_link" target="_blank"
      >Разработал Данилов Тимофей</a
    >
  </div>
</div>
