<h1>О проекте</h1>
<h2>Цель</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus earum ad
  ex sint. Dolor odit ut fuga a molestiae voluptatem.
</p>
<h2>Автор</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus earum ad
  ex sint. Dolor odit ut fuga a molestiae voluptatem.
</p>
<h2>Сотрудничество</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus earum ad
  ex sint. Dolor odit ut fuga a molestiae voluptatem.
</p>
