:host {
  margin-bottom: 60px;
  display: block;
}

.title {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.5;
  word-break: break-word;
}

.condition {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.text {
  flex: 2;
  font-weight: 500;
  white-space: pre-line;
  margin-bottom: 20px;
}

.image {
  min-width: 200px;
  min-height: 200px;
  margin-left: 20px;
  flex: 1;
  background: center / contain no-repeat;
}

.solution {
  padding: 44px 42px;
  font-weight: 500;
  background: #fcfbff;
  box-shadow: 0 5px 20px var(--shadow);
  border: 2px solid var(--purple);
}

.show_solution {
  font-size: 1em;
  padding: 22px 60px;
  border: none;
  font-weight: 700;
  background: var(--purple);
  color: white;
  margin-bottom: 30px;
  transition: 0.1s;
  user-select: none;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover {
    background: var(--darkpurple);
  }
}

.active {
  border-color: var(--darkpurple);
  background: transparent;
  color: var(--purple);
  &:hover {
    background: transparent;
  }
}

@media screen and (max-width: 800px) {
  .image {
    margin-left: 0;
  }
  .condition {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 540px) {
  .image {
    width: 100%;
  }
  .title {
    font-size: 1.2em;
  }
  .condition {
    font-size: 0.9em;
  }
  .solution {
    font-size: 0.9em;
    padding: 10px 15px;
    border: none;
  }
  .show_solution {
    width: 100%;
  }
}
