<h1>Математико</h1>
<div [@enterAnimation] class="game">
  <div class="current">{{ current }}</div>
  <div class="table">
    <div *ngFor="let row of buttons; index as x" class="row">
      <div
        class="cell"
        (click)="set(x, y)"
        *ngFor="let cell of row; index as y"
      >
        <div class="cell_in">
          {{ getCell(x, y) }}
        </div>
      </div>
    </div>
  </div>
  <div [@enterAnimation] *ngIf="ended" class="end">
    <div class="score">Ты набрал {{ score }} баллов</div>
    <button (click)="load()" class="next">
      Начать заново
    </button>
  </div>
</div>
<div class="rules">
  <h2>Описание и правила</h2>
  <p>
    Игра "Математико" - это итальянская логическая игра для нескольких игроков.
    Правила игры довольно просты и выводятся на экран (или в отдельное окно) во
    время работы программы. В игре реализована возможность игры от одного до
    четырех человек. Имеется набор из 52 карточек, на которых записаны числа от
    1 до 13, причем карточки с каждым из этих чисел встречаются четырежды. У
    каждого игрока имеется квадратное поле с 25 клетками. Программа случайным
    образом извлекает какую-либо из имеющихся карточек и выдает записанное на
    ней число. Каждый игрок заносит это число в одну из клеток квадрата на своем
    поле. После того, как число записано, перемещать его в другую клетку
    запрещается. Затем программа случайным образом извлекает следующую карточку
    и.т.д. Так продолжается до тех пор, пока не будут заполнены все клетки
    квадрата.
  </p>
  <p>
    Результат игрока оценивается числом набранных им очков, зависящим от способа
    размещения чисел в клетках квадрата. Победителем считается тот, кто набирает
    наибольшее количество очков. Подсчет очков производится по следующей
    таблице:
  </p>
  <div class="table_container">
    <table>
      <thead>
        <tr>
          <th>Комбинации чисел</th>
          <th>В ряду или столбце</th>
          <th>По диагонали</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of combinations">
          <td>{{ info.name }}</td>
          <td>{{ info.row }} очков</td>
          <td>{{ info.diagonal }} очков</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
